/* ! */

@media only screen and (max-width: 1700px) {
    article.web1 p.web1 {
        margin: 5px 25px;
        padding: 15px 5px;
        font-size: 24px;
        width: 90%;
    }
    article.web1 h3 {
        font-size: 50px;
        margin: 7px;
    }
}

@media only screen and (max-width: 1540px) {
    article.web1 {
        margin: 5px 30px;
        width: 48%;
    }
    div.web1 {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1454px) {
    body {
        background-size: cover;
    }
}

@media only screen and (max-width: 1240px) {
    article.web1 p.web1 {
        padding: 20px 5px 15px;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background-size: auto;
    }
    article.web1 p.web1 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1040px) {
    div.web1 {
        display: none;
    }
    article.web1 {
        width: 70%;
        display: block;
        text-align: center;
        margin: 15px 10%;
        left: 20px;
        position: relative;
    }
    article.web1 p.web1 {
        padding: 5px 10%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 980px) {
    article.web1 p.web1 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 950px) {
    article.web1 p.web1 {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 880px) {
    header {
        margin: 70px 20px 0px;
    }
    article.web1 {
        margin: 15px 10%;
        width: 80%;
    }
    div.web1 {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    header {
        margin: 60px 15px 0px;
    }
    article.web1 {
        margin: 15px 5%;
        width: 85%;
    }
    h1.h11 {
        margin: 15px 20px 5px;
        font-size: 50px;
    }
}

@media only screen and (max-width: 700px) {
    article.web1 p.web1 {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 672px) {
    ul.hor {
        text-align: center;
    }
    article.web1 h3 {
        margin: 3px 15px;
    }
    img.web1 {
        width: 80px;
    }
}

@media only screen and (max-width: 633px) {
    article.web1 h3 {
        padding: 0;
    }
    article.web1 p.web1 {
        padding: 5px 5px 10px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    ul.hor {
        text-align: center;
        left: 50px;
    }
}

@media only screen and (max-width: 580px) {
    article.web1 p.web1 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    header h1 {
        font-size: 50px;
    }
    article.web1 h3 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 536px) {
    article.web1 p.web1 {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 530px) {
    div.mess form {
        width: 85%;
    }
    h1 {
        font-size: 30px;
        margin-top: 10px;
    }
    article.web1 p.web1 {
        font-size: 22px;
        padding-bottom: 3px;
    }
    ul.hor {
        text-align: center;
        position: relative;
        bottom: 55px;
        margin-right: 60px;
        padding-right: 10px;
        /* display: block; */
    }
    a.home {
        /* display: block; */
        position: relative;
        bottom: 50px;
    }
}

@media only screen and (max-width: 500px) {
    article.web1 p.web1 {
        margin: 0px 5px;
        width: 98%;
    }
    header h1 {
        font-size: 40px;
    }
    article.web1 h3 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 490px) {
    article.web1 p.web1 {
        padding: 5px 0px;
        margin-bottom: 50px;
    }
    article.web1 {
        margin: 10px 0px;
        width: 100%;
        left: 0px;
    }
    header h1 {
        font-size: 35px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 470px) {
    article.web1 p.web1 {
        padding: 5px 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 450px) {
    ul.hor {
        position: relative;
        bottom: 45px;
    }
    ul.hor li.hor {
        padding: 1px 2px;
        font-size: 20px;
        text-align: center;
    }
    .hor li:hover .sakriven ul {
        margin-top: 10px;
    }
    .hor li:hover .sakriven li {
        font-size: 20px;
    }
    nav.hor {
        height: 40px;
    }
    a.home img {
        height: 40px;
        width: 40px;
    }
    article.web1 p.web1 {
        padding: 5px 15px;
        font-size: 21px;
    }
    div.up {
        height: 45px;
        background-size: cover;
    }
}

@media only screen and (max-width: 400px) {
    img.web1 {
        width: 80px;
    }
    article.web1 p.web1 {
        padding: 5px;
    }
}

@media only screen and (max-width: 361px) {
    img.web1 {
        width: 70px;
    }
    article.web1 p.web1 {
        margin: 5px;
    }
}

@media only screen and (max-width: 351px) {
    ul.hor {
        width: 88%;
        padding-left: 0px;
        margin-right: 55px;
        height: 35px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 350px) {
    h1.h11 {
        margin: -20px 20px 5px;
        font-size: 30px;
    }
    header h1 {
        font-size: 35px;
    }
    article.web1 h3 {
        font-size: 30px;
    }
    nav.hor {
        height: 100px;
        padding: 2px 3px;
        text-align: center;
        padding-right: 50px;
    }
    li.hor {
        display: block;
    }
    body {
        background-size: auto;
        background-repeat: repeat-y;
    }
    a.home {
        top: -40px;
        left: 5px;
        position: absolute;
    }
    ul.hor {
        bottom: 0px;
        width: 100%;
        float: none;
        left: 25px;
    }
    ul.hor li {
        width: 100%;
    }
    div.sakriven {
        margin-left: 10px;
    }
    .hor li:hover .sakriven ul {
        margin: 20px 0px 0px;
        padding: 10px 3px;
        margin-left: 30px;
        margin-right: 30px;
    }
    article.web1 {
        height: auto;
    }
}

@media only screen and (max-width: 346px) {
    img.web1 {
        width: 60px;
    }
}


/* @media only screen and (max-width: 320px) {
    nav.hor {
        height: 100px;
        padding: 2px 3px;
        text-align: center;
        padding-right: 50px;
    }
    li.hor {
        display: block;
    }
    body {
        background-size: auto;
        background-repeat: repeat-y;
    }
    a.home {
        text-align: left;
        right: 70px;
    }
} */