/* ! */

@media only screen and (max-width: 1454px) {
    body {
        background-size: cover;
    }
    div.mess form {
        width: 40%;
    }
    h1.mess {
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (max-width: 1354px) {
    .mail p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1192px) {
    body {
        background-size: auto;
    }
    h1.mess {
        margin: 5px 25px;
        font-size: 40px;
    }
    form {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1050px) {
    div.mess form {
        width: 50%;
    }
}

@media only screen and (max-width: 880px) {
    header {
        margin: 70px 20px 0px;
    }
    div.mess form {
        width: 60%;
    }
    h1.mess {
        font-size: 30px;
        text-align: center;
        padding: 5px 150px;
    }
}

@media only screen and (max-width: 750px) {
    h1.mess {
        padding: 5px 50px;
    }
}

@media only screen and (max-width: 650px) {
    ul.hor {
        text-align: center;
    }
    .mail p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 600px) {
    ul.hor {
        text-align: center;
        left: 50px;
    }
    div.mess form {
        width: 70%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 530px) {
    div.mess form {
        width: 85%;
    }
    ul.hor {
        text-align: center;
        position: relative;
        bottom: 55px;
        margin-right: 60px;
        padding-right: 10px;
        /* display: block; */
    }
    a.home {
        /* display: block; */
        position: relative;
        bottom: 50px;
    }
    li.about {
        font-size: 20px;
        padding: 5px 2px;
    }
    h1.mess {
        margin: 0px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 460px) {
    div.up {
        height: 45px;
        background-size: cover;
    }
    nav.lang {
        height: 40px;
    }
    nav.hor {
        height: 35px;
    }
    ul.hor {
        position: relative;
        right: 0px;
        bottom: 45px;
        float: left;
        width: 80%;
        margin: 0px 10px 0px 5px;
        padding: 2px;
    }
    li.hor {
        padding: 1px 2px;
        font-size: 20px;
        text-align: center;
    }
    .hor li:hover .sakriven ul {
        margin-top: 10px;
    }
    .hor li:hover .sakriven li {
        font-size: 20px;
    }
    a.home img {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 474px) {
    li.about {
        font-size: 18px;
        padding: 5px 0px;
    }
    h1.mess {
        font-size: 30px;
        padding: 5px 10px;
    }
    header {
        margin-top: 40px;
    }
}


/* @media only screen and (max-width: 450px) {
    ul.hor {
        position: relative;
        bottom: 53px;
    }
    ul.hor li.hor {
        padding: 1px 2px;
        font-size: 20px;
        text-align: center;
    }
    .hor li:hover .sakriven ul {
        margin-top: 10px;
    }
    .hor li:hover .sakriven li {
        font-size: 20px;
    }
    nav.hor {
        height: 40px;
    }
    main {
        margin-left: 20px;
    }
} */

@media only screen and (max-width: 380px) {}

@media only screen and (max-width: 351px) {
    ul.hor {
        width: 88%;
        padding-left: 0px;
        margin-right: 55px;
        height: 35px;
        padding-right: 5px;
    }
    h1.mess {
        font-size: 25px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 355px) {
    nav.hor {
        height: 100px;
        padding: 2px 3px;
        text-align: center;
        padding-right: 50px;
    }
    li.hor {
        display: block;
    }
    body {
        background-size: auto;
        background-repeat: repeat-y;
    }
    a.home {
        top: -40px;
        left: 5px;
        position: absolute;
    }
    ul.hor {
        bottom: 0px;
        width: 100%;
        float: none;
        left: 25px;
    }
    ul.hor li {
        width: 100%;
    }
    div.sakriven {
        margin-left: 10px;
    }
    .hor li:hover .sakriven ul {
        margin: 20px 0px 0px;
        padding: 10px 3px;
        margin-left: 30px;
        margin-right: 30px;
    }
    div.mess form {
        margin: 0px;
        width: 100%;
        margin-top: 20px;
    }
    div.mess form label {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    /* nav.hor {
        height: 100px;
        padding: 2px 3px;
        text-align: center;
        padding-right: 50px;
    }
    li.hor {
        display: block;
    }
    body {
        background-size: auto;
        background-repeat: repeat-y;
    }
    a.home {
        text-align: left;
        right: 70px;
    } */
    /* nav.hor {
        height: 100px;
        padding: 2px 3px;
        text-align: center;
        padding-right: 5 0px;
    }
    li.hor {
        display: block;
    }
    body {
        background-size: auto;
        background-repeat: repeat-y;
    }
    a.home {
        text-align: left;
        right: 70px;
    } */
}